.threeSections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    grid-auto-flow: column;

    h3 {
        text-transform: capitalize;
    }


    article {
        display: flex;
        flex-direction: column;
    }


    img {
        width: 100%;
    }
}