.threeSections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    grid-auto-flow: column;
    

   
    article {
        display: flex;
        flex-direction: column;
    }


    img {
        width: 100%;
    }
}