nav {
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    justify-content: end;
    padding-right: 4rem;
    font-size: 2vw;


    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        text-transform: capitalize;

        li {
            margin: 1rem;
            color: var(--white);
            cursor: pointer;

        }

        li:hover {
            color: var(--blue);
        }
    }
}