@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jura&family=Oswald:wght@300;500&family=Roboto+Condensed&display=swap');

#root {
  font-family: Oswald;
  --grey: #cccccc;
  --black: #333333;
  --blue: #0066cc;
  --bggrey: #e9e9e9;
  --lightBlue: #6699cc;
  --white: #ffffff;
}

body {
  margin: 3rem;
  font-family: Oswald;
  background-color: var(--bggrey);
}

h3 {
  color: var(--blue);
  font-weight: lighter;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

section {
  margin: 3rem 3rem;
}