
h3 {
    display: flex;
    justify-content: space-between;
}

a {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
}




.galleryText {
    font-weight: bold;
    font-style: italic;

}